/*Propriétés générales*/
h1 {
  font-family: "Poiret One", cursive, Arial, Helvetica, sans-serif;
  font-size: 50px !important;
}

h2 {
  font-size: 45px !important;
}

.description {
  padding-top: 70px;
  padding-bottom: 30px;
  margin: auto;
  max-width: 50%;
  font-family: "Poiret One", cursive, Arial, Helvetica, sans-serif;
}

.fa {
  font-size: 40px;
  text-decoration: none !important;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 100px;
}

.fa:hover {
  color: grey;
  opacity: 0.5;
}

/*Media Queries*/
@media screen and (min-width: 1250px) {
  #sel1 {
    width: 75% !important;
  }
  
  #images {
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media screen and (max-width: 1250px) {
  #carte {
    width: 850px !important;
  }
  #carte .button {
    font-size: 12px;
  }
  #images img {
    width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  #carte {
    width: 500px !important;
  }
  #carte .button {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  #carte {
    width: 250px !important;
  }

  #carte li {
    font-size: 10px;
  }
  #carte .button {
    font-size: 10px;
  }

  .description h2 {
    font-size: 30px !important;
  }
  #images img {
    width: 200px;
  }

#sel1 {
  width: 60% !important;
}

.form-inline .btn {
  width: 70px !important;
}

}

/*Menu*/
nav {
  background: #e85546 !important;
  height: 60px;
}

nav a {
  color: white !important;
  margin-left: 20px;
}

#collapsibleNavId {
  background: #e85546 !important;
}

/*Home Page*/
#titre {
  margin-top: 100px;
}

#home {
  background: url(../img/hero.png) !important;
  background-size: cover !important;
  min-height: 100vh;
  color: white;
  padding-bottom: 100px !important;
}

#home img {
  margin-top: 70px;
}

.btn-danger {
  margin-top: 50px;
  background: #e85546 !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  border-radius: 12px !important;
}

/*Our Works*/
#ourworks {
  height: 100%;
  padding-bottom: 100px;
}

/*Les Images*/
#images a {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  opacity: 0 !important;
  color: white;
}

#images img:hover {
  opacity: 50%;
  filter: hue-rotate(305deg);
}


#img:hover a {
  opacity: 1 !important;
}

#images img {
  max-width: 270px !important;
  height: auto;
}

#img {
  margin-top: 25px;
}

#voile {
  background: red !important;
  height: 100% !important;
  display: inline-block;
}

/*Pricing*/
#pricing {
  height: 100%;
  padding-bottom: 100px;
  margin: auto;
}

.price {
  list-style-type: none;
  border: 1px solid #f5f5f5;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carte {
  width: 1250px;
  margin: auto;
  margin-top: 20px;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
  background-color: #f5f5f5;
}

.price .header strong {
  font-size: 35px;
  font-weight: normal !important;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #1e2a37;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none !important;
  border-radius: 4px !important;
}

.button:hover {
  color: white;
}

/*Contact*/
#contact {
  background: #2c3e50;
  padding-bottom: 80px;
}

#contact .description {
  color: white !important;
}

.form-group,
.form-inline {
  margin: auto;
}

#sel1 {
  width: 70%;
}

.form-inline .btn {
  background: #e85546 !important;
  width: 100%;
  border-radius: 4px;
  border: none;
  width: 100px;
}

.form-inline {
  padding-top: 25px !important;
}

#form {
  max-width: 75%;
  margin: auto;
}
#message {
  padding-bottom: 20px;
}

/*Footer*/
#fleche {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 35px;
}

footer {
  padding-top: 70px;
  padding-bottom: 30px;
}
